// - Violet: hsl(257, 40%, 49%)
// - Soft Magenta: hsl(300, 69%, 71%)

// BODY
// font-family: 'Open Sans', sans-serif;

// HEADINGS
// font-family: 'Poppins', sans-serif;

body {
}


.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
