$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $violet;
}

.container {
    width: 23rem;
    padding: 1rem;
    text-align: left;
    color: #fff;
}

header {
    margin: 1rem 0 3rem 0;

    #logo {
        width: 8rem;
        height: 3rem;
    }
}

.overview {
    display: flex;
    flex-direction: column;
    text-align: center;

    .banner {
        margin-bottom: 2.5rem;

        img {
            width: 21rem;
        }
    }

    .about {

        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.75rem;
        }

        .description {
            font-size: 1.1rem;
            line-height: 1.75rem;
        }

        .signup {
            margin: 3rem;
            
            #register {
                background-color: #fff;
                color: $violet;
                text-decoration: none;
                padding: 1rem 6rem;
                border-radius: 1.75rem;
                box-shadow: 0px .2rem .75rem rgba(0, 0, 0, 0.39);
                transition: all 250ms linear;

                &:hover {
                    cursor: pointer;
                    background-color: $soft-magenta;
                    color: #fff;
                }
            }
        }
    }

    .social-links {
        margin-top: 5rem;
    
        .social {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            padding-top: .5rem;
            margin:1rem .25rem;
            transition: all 200ms linear;
        }

        .social:hover {
            color: $soft-magenta;
            border-color: $soft-magenta;
        }
    }

}

/*      RESPONSIVE STYLES       */

@media only screen and (min-width: 1440px) {
    body {
        height: 100vh;
        background-image: url("../images/bg-desktop.svg");
    }

    .container {
        width: 65rem;
    }

    header {
    
        #logo {
            width: 12rem;
            height: 5rem;
        }
    }

    .overview {
        flex-direction: row;
        text-align: left;
    
        .banner {
    
            img {
                width: 32.5rem;
            }
        }

        .about {
            width: 32.5rem;
            padding: 2rem;

            h1 {
                font-size: 2.25rem;
                margin: 0;
                font-weight: 400;
            }
    
            .description {
                font-size: .93rem;
                line-height: 1.5rem;
            }
    
            .signup {
                margin: 2rem 0;
                
                #register {
                    padding: .75rem 3.5rem;
                    border-radius: 1.75rem;
                    box-shadow: 0px .2rem .75rem rgba(0, 0, 0, 0.452);
                }
            }
        }

    }

    .social-links {
        text-align: right;
        
        .social {
            text-align: center;
        }
    }

}



.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}
